@import '~@fullcalendar/core/main.css';  
@import '~@fullcalendar/daygrid/main.css';  

div.calendar {
 
    height: 100%;
    background-color: whitesmoke;
}
html, body {
    height: 100%;
    background-color: grey;;
}
.modal-content{
    border-radius: 0;
    background-clip: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 700px;
}