<div class='app'>  

  <full-calendar   #fullcalendar  deepChangeDetection="true"
  [editable]="true"
   [events]="calendarEvents"  

  (dateClick)="dateClick($event)"
  (eventDragStop)="eventDragStop($event)"  
  [plugins]="calendarPlugins" 
  (eventClick)="eventClick($event)"  
 ></full-calendar>  
</div>  




    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
                 
          <!-- Modal body -->
          <div class="modal-body">
            <app-personal-training-modal *ngIf="Role==='Athlete'"
            [toDo]="ToDoInTraining"
            [personalTraining]="ChosenTraining"
            [exist]="exist"
            ></app-personal-training-modal>     
            <app-coach-training-assign-modal *ngIf="Role==='Coach'"
            [dateClicked]="dateClicked"
            ></app-coach-training-assign-modal>

          </div>
         
      
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>
    
