<body>
<div class='app container calendar'>  

  <full-calendar   #fullcalendar  deepChangeDetection="true"
  [editable]="true"
   [events]="calendarEvents"  
   [firstDay]=1
  (dateClick)="dateClick($event)"
  
  [plugins]="calendarPlugins" 
  (eventClick)="eventClick($event)"  
 ></full-calendar>  
</div>  




    <!-- The Modal -->
    <div class="modal " id="myModal">
      <div class="modal-dialog ">
        <div class="modal-content">

          <div class="card-tabs" *ngIf="Role==='Coach'">
            <ul class="nav nav-pills nav-fill color" >
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': ListActive }" (click)="ChangeActive('athletes')" >Athletes</a>
              </li>
              <li class="nav-item" >
                <a  class="nav-link" [ngClass]="{'active': TrainingFormActive}" (click)="ChangeActive('train')">Trainings</a>
              </li>
            </ul>
          </div>
                 
          <!-- Modal body -->
          <div  >
            <app-personal-training-modal *ngIf="Role==='Athlete'"
            [toDo]="ToDoInTraining"
            [personalTraining]="ChosenTraining"
            [exist]="exist"
            ></app-personal-training-modal>     
            <app-coach-training-assign-modal *ngIf="Role==='Coach' && TrainingFormActive"
            [dateClicked]="dateClicked"
            (renewTrainings)="renewTrainings()"
            ></app-coach-training-assign-modal>

            <app-athlete-list *ngIf="Role==='Coach' && ListActive"
            [dateClicked]="dateClicked"
            (renewTrainings)="renewTrainings()"
            >           
            </app-athlete-list>

          </div>
         
      
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>
    
  </body>