#title 
{
  border-style: ridge;
  border-radius: 15px;
  background-color: black;
  color: white;
}
.table {
    margin: auto;
    table-layout: fixed;
    word-wrap: break-word;
 }
#tableTitle{
    font-size: 90%;
 }