.back{

    height: 92.3vh;
    background-color: grey;;

    width:auto;

    background-position:center;
   // background-repeat: no-repeat; background-size: cover; background-position: center center;
  }
  #cont { 
    position : absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;    
  }
  #tab-radius{
    border-radius: 15px;
    margin-top: 20px;
  }
  #title 
  {
    border-style: ridge;
    border-radius: 15px;
    background-color: black;
    color: white;
  }
 